{% extends 'blog_list.html' %}
{% load staticfiles %}
{% load comment_tags %}
{% load like_tags %}

{% block header_extends %}
    <script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
    <script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>
{% endblock %}

{% block title %}个人博客-{{ blog.title }}{% endblock %}

{% block left-panel-heading %}
    <h3>
        博客详情
    </h3>
{% endblock %}

{% block left-panel-body %}
    <h2>{{ blog.title }}</h2>
    <span>
        作者:{{ blog.author }}
        日期:{{ blog.created_time }}
{#        阅读({{ blog.get_read_num }})#}
        阅读({{ blog.get_read_num_of_date }})
        评论({% get_comment_count blog %})
    </span>
    <a href="{% url 'blog_with_type' blog.blog_type.pk %}">
        <p>{{ blog.blog_type }}</p>
    </a>
    <div class="like" onclick="likeChange(this, 'blog', {{ blog.pk }})">
        <span class="glyphicon glyphicon-thumbs-up {% get_like_status blog %}"></span>
        <span class="likes_num">{% get_like_count blog %}</span>
        <span>喜欢</span>
    </div>
    <div>{{ blog.content|safe }}</div>
    <br>
    <!--分页导航-->
    <div class="blog-more">
        上一篇:
        {% if previous_blog %}
            <a href={% url "blog_detail" previous_blog.pk %}>
                <p>{{ previous_blog.title }}</p>
            </a>
        {% else %}
            <p>没有了</p>
        {% endif %}
        下一篇:
        {% if next_blog %}
            <a href={% url "blog_detail" next_blog.pk %}>
                <p>{{ next_blog.title }}</p>
            </a>
        {% else %}
            <p>没有了</p>
        {% endif %}
    </div>
    <!--写评论区域-->
    <div style="border:1px dashed; padding: 2em">
        <h3>提交评论</h3>
        {% if user.is_authenticated %}
            已经登录
            <form id="comment_form" action="{% url 'update_comment' %}" method="POST" style="overflow:hidden">
                <div id="reply_content_container" style="display:none;">
                    <p>回复：</p>
                    <div id="reply_content"></div>
                </div>
                {% csrf_token %}
{#                {{ comment_form }}#}
                {% get_comment_form blog.pk blog %}
                <span id="comment_error" class="text-danger pull-left"></span>
                <input class="btn btn-primary" type="submit" name="评论">
            </form>
        {% else %}
            <div class="login">
                未登录-请
                <a href="{% url "login" %}?from={{ request.get_full_path }}">登录</a>
                <span> or </span>
                <a href="{% url "register" %}?from={{ request.get_full_path }}">注册</a>
            </div>
        {% endif %}
    </div>
    <!--评论显示区-->
    <div style="border:1px dashed; padding: 2em">
        评论列表区域
        {% my_input %}
        <br>
        <div id="comment_list">
            {% get_comments blog as comments%}
            {% for comment in comments %}
                <div id="root_{{ comment.pk }}" class="comment">
                    {{ comment.user.username }}
                    ({{ comment.comment_time|date:"Y-m-d H:i:s" }})：
                    <div id="comment_{{ comment.pk }}">
                        {{ comment.text|safe }}
                    </div>
                    <a href="javascript:reply({{ comment.pk }})">回复</a>
                    <div class="like" onclick="likeChange(this, 'comment', {{ comment.pk }})">
                        <span class="glyphicon glyphicon-thumbs-up {% get_like_status comment %}"></span>
                        <span class="likes_num">{% get_like_count comment %}</span>
                        <span>喜欢</span>
                    </div>

                    {% for reply in comment.root_comment.all %}
                        <div class="reply">
                            {{ reply.username }}
                            ({{ reply.comment_time|date:"Y-m-d H:i:s" }})：
                            回复
                            {{ reply.reply_to.username }}
                            <div id="comment_{{ reply.pk }}">
                                {{ reply.text|safe }}
                            </div>
                            <a href="javascript:reply({{ reply.pk }})">回复</a>
                            <div class="like" onclick="likeChange(this, 'comment', {{ reply.pk }})">
                                <span class="glyphicon glyphicon-thumbs-up {% get_like_status reply %}"></span>
                                <span class="likes_num">{% get_like_count reply %}</span>
                                <span>喜欢</span>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% empty %}
                <div id="no_comment">暂无评论</div>
            {% endfor %}
        </div>
    </div>
    <!--模态框-->
    <!-- Modal -->
    <div class="modal fade" id="modal_login" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <form id="modal_login_form" action="" method="post">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title" id="myModalLabel">登录</h4>
                    </div>

                    <div class="modal-body">
                        {% csrf_token %}
                        {{ login_forms }}
{#                        {% for field in login_forms %}#}
{#                            <label for="{{ field.id_for_label }}">{{ field.label }}</label>#}
{#                            {{ field }}#}
{#                        {% endfor %}#}
                        <span id="modal_login_info" class="pull-left text-danger"></span>
                    </div>

                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">登录</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    {% block paginator %}{% endblock %}  {# 去除分页栏 #}
{% endblock %}

{% block script_extends %}
    <script type="text/javascript">
        String.prototype.format = function(){
            var str = this;
            for (var i = 0; i < arguments.length; i++) {
                str = str.replace(new RegExp('\\{' + i + '\\}', 'g'), arguments[i]);
            }
            return str;
        };
        function likeChange(obj, content_type, object_id){
            var is_like = obj.getElementsByClassName("active").length !== 0;
            $.ajax({
                url:"{% url "like" %}",
                type: "GET",
                data:{
                    content_type: content_type,
                    object_id: object_id,
                    is_like: is_like,
                },
                cache: false,
                success: function (data) {
                    console.log(data);
                    if (data["status"] === "SUCCESS"){
                        var element = $(obj.getElementsByClassName("glyphicon"));
                        if (is_like){
                            element.removeClass("active");
                            console.log(is_like);
                        }
                        else {
                            element.addClass("active");
                            console.log(is_like);
                        }
                        var like_num = $(obj.getElementsByClassName("likes_num"));
                        like_num.text(data["like_num"]);
                        console.log(element);
                    }
                    else{
                        if (data["code"]===400){
                            $("#modal_login").modal("show");
                        }
                        else {
                            alert(data["code"] + " " + data["message"])
                        }
                    }
                },
                error: function (xhr) {
                    console.log(xhr);
                }
            })
        }
        function reply(reply_comment_id) {
            $("#reply_comment_id").val(reply_comment_id);
            var html = $("#comment_" + reply_comment_id).html();
            $("#reply_content").html(html);
            $("#reply_content_container").show();

            $('html').animate({scrollTop: $('#comment_form').offset().top - 60}, 300, function(){
                CKEDITOR.instances['id_text'].focus();
            });
        }
        $("#comment_form").submit(function () {
            // 更新数据到textarea
            CKEDITOR.instances['id_text'].updateElement();
            //检查是否为空
            $("#comment_error").text("");
            if(CKEDITOR.instances["id_text"].document.getBody().getText().trim() === ""){
                $("#comment_error").text('评论内容不能为空');
                return false;
            }
            //异步提交
            $.ajax({
                url: "{% url 'update_comment' %}",
                type: "POST",
                data: $(this).serialize(),
                cache: false,
                success: function (data) {
                    console.log(data);
                    if(data['status']==="SUCCESS") {
                        if ($("#reply_comment_id").val() === '0'){
                            // 插入评论
                            var comment_html ='<div id="root_{0}" class="comment">'+
                                    '{1}'+
                                    '({2})：'+
                                    '<div id="comment_{0}">'+
                                        '{3}'+
                                    '</div>'+
                                    '<a href="javascript:reply({0})">回复</a>'+
                                    '<div class="like" onclick="likeChange(this, \'{4}\', {0})">'+
                                        '<span class="glyphicon glyphicon-thumbs-up"></span>'+
                                        '<span class="likes_num">0</span>'+
                                        '<span>喜欢</span>'+
                                    '</div>'+
                                '</div>';
                            comment_html = comment_html.format(data["pk"], data["username"], data["comment_time"],
                                data["text"],data["content_type"]);
                            $("#comment_list").prepend(comment_html);
                            //$('html').animate({scrollTop: $('#root_' + data["pk"]).offset().top - 100}, 300);

                        }else {
                            //插入回复
                            var reply_html ='<div class="reply">'+
                                    '{1}'+
                                    '({2})：'+
                                    '回复'+
                                    '{3}'+
                                    '<div id="comment_{0}">{4}</div>'+
                                    '<div class="like" onclick="likeChange(this, \'{5}\', {0})">'+
                                        '<span class="glyphicon glyphicon-thumbs-up\"></span> ' +
                                        '<span class="likes-num">0</span>' +
                                    '</div>'+
                                    '<a href="javascript:reply({0});">回复</a>'+
                                '</div>';
                            console.log(reply_html);
                            reply_html = reply_html.format(data["pk"],data["username"],data["comment_time"],
                                data["reply_to"],data["text"],data["content_type"]);

                            $("#root_" + data['root_pk']).append(reply_html);
                            //$('html').animate({scrollTop: $('#root_'+ data['root_pk']).offset().top - 100}, 300);
                        }

                        // 清空编辑框的内容
                        CKEDITOR.instances['id_text'].setData('');
                        $('#reply_content_container').hide();
                        $('#no_comment').remove();
                        $('#reply_comment_id').val('0');

                    }
                    else {
                        // 显示错误信息
                        $("#comment_error").text(data['message']);
                    }
                },
                error: function (xhr) {
                    console.log(xhr);
                },
            });
            return false;
        });
        $("#modal_login_form").submit(function (event) {
            event.preventDefault();
            $.ajax({
                url: "{% url 'login_for_modal' %}",
                type: "POST",
                data: $(this).serialize(),
                cache: false,
                success: function (data) {
                    if(data["status"] === "SUCCESS"){
                        console.log(data);
                        window.location.reload();
                    }
                    else {
                        console.log(data);
                        $("#modal_login_info").text("用户或密码错误");
                    }
                },
                error: function (xhr) {
                    console.log(xhr);
                },
            })
        })
    </script>
{% endblock %}